/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My CSS*/

body {
    background: url("/images/dumkit.jpg") bottom center no-repeat;
    background-size: cover;
    font-family: sans-serif;
    line-height: 1;
}

body .keys {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 100vh;
}

.keys .key {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 10rem;
    transition: all 0.3s ease;
    text-align: center;
    text-shadow: 0 0 .5rem #a09393;
}

.play {
    transform: scale(1.1);
    border-color: #f4a460;
    box-shadow: 0 0 1rem #f4a460;
}

kbd {
    display: block;
    font-size: 3rem;
}

.sound {
    color: #f4a460;
    font-size: 1rem;
    text-transform: uppercase;
}